{% extends "familia/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">
  <a class="m-4" href="{%url  'agregar_mascota_perro' %}">Refrescar Página</a>
  <div class="row mt-3">
      <div class="col">
       <h1>CARGAR MASCOTA PERRO</h1>
      </div>
      </div>
      <div class="row">
      <div class="col">
       <form action="{% url  'agregar_mascota_perro' %}" method="post">
          {% csrf_token %} 
          {% bootstrap_form form %}
          {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
       </form>
      </div>
    </div>
  </div>
  {% endblock %}