{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- <esto es la cabecera/header> -->
<ul class="nav bg-dark fixed mb-3">
  <li class="nav-item">
    <a class="nav-link active link-light" href="{%url  'index' %}"> Miembros de Mi Familia</a>
  </li>
</ul>

{% block  cuerpo %}
{% endblock %}

<!-- <esto es el pie/ footer > -->
<ul class="nav bg-dark fixed-bottom justify-content-center mt-3">
  <li class="nav-item">
    <a class="nav-link active link-light" href="/familia">Primera Entrega PROYECTO FINAL</a>
  </li>
</ul>